.Body{
  width: 87.5%;
  margin-right: 10%;
  
  margin-left: 2.5%;
  display: flex;
}
.Body__profilInfos{
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Body__repos{
  width: 65%;
}

.Body__profilInfos_name{
  font-size: 25px;
  margin-top: 15px;
  color: var(--primaryTitleColor);
}
.Body__profilInfos_pseudo{
  font-size: 20px;
  margin-top: -20px;
  color: var(--primaryTextColor);
  font-weight: normal;
}
.user_skils{
  margin-top: 20px;
  width: 100%;
  display: flex;
}
.user_skils_item{
  display: flex;
  width: 33.33%;
  align-items: center;
}
.user_skils_item h5{
  font-size: 14px;
  margin: 0px;
  margin-right: 2px;
  color: var(--primaryTextColor);
}
.user_skils_item h5 span{
  color: var(--primaryTitleColor);
}
.user_skils_item_svg{
  fill: var(--primaryTextColor);
  margin-right: 5px;
}
.Body__profilInfos_btnEdit{
  width: 100%;
  color: var(--primaryTitleColor);
  padding: 8px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid var(--primaryButtonColor);
  background-color: var(--primaryBorderColor);
  box-shadow: 2px;
}
@media screen and (max-width: 1244px){
  .Body{
    width: 95%;
    margin-right: 2.5%;
  }
}

.user_call{
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 10px;
}
.user_call h5{
  margin: 0px;
  font-size: 15px;
  color: var(--primaryTitleColor);
  font-weight: normal;
}

.user_call svg{
  margin-right: 5px;
  font-size: 20px !important;
  fill: var(--primaryTextColor);
}


.Body__repos{
  padding-left: 20px;
}
.user_description{
  width: 100%;
  border: 1px solid var(--primaryBorderColor);
  margin-top: 30px;
  border-radius: 5px;
  padding: 5px 20px;
}
.user_description_profile{
  display: flex;
  align-items: center;
  color: var(--primaryTextColor);
  font-weight: normal;
  margin: 12px;
}
.user_description_profile svg{
  margin-right: 10px;
  fill: var(--primaryTextColor);
}

.user_description_intro{
  font-size: 20px;
  margin: 0px;
  margin-top: 5px;
  margin-left: 12px;
  color: var(--primaryTitleColor);
}

.user_description_header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pencil svg{
  margin-left: 10px;
}

.user_description ul{
  padding-left: 30px;
}
.user_description ul li{
  color: var(--primaryTextColor);
}
.user_description ul li a{
  color: rgb(3, 102, 222);
  text-decoration: none;
}

@media screen and (max-width: 775px){
  .Body__profilInfos{
    display: none;
  }
  .Body__repos{
    width: 92%;
    padding: 20px 0px;
  }
}