.Tab{
  z-index: 3;
  margin-top: -25px;
  width: 100%;
  height: 100px;
  border-bottom: 2px solid var(--primaryBorderColor);
  background-color: var(--primaryBackgroundColor);
  display: flex;
}
.user_infos{
  width: 30%;
  display: flex;
  align-items: flex-end;
  padding-left: 100px;
  padding-bottom: 30px;
}
.profil_infos{
  display: flex;
  align-items: center;
  margin-top: 5px;
  display: none;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.showP{
  display: flex !important;
  transition: 0.5s;
}
.profil_infos h4{
  margin: 0px;
  color: var(--primaryTitleColor);
}
.TabContent{
  width: 60%;
  height: 100%;
  margin-right: 10%;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
}

.tab_sticky{
  position: fixed;
  top: -5px;
}

.Tab__items_container{
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.toggle_mode{
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding-bottom: 10px;
}
.TabContent h3{
  margin: 0px;
  color: var(--primaryTextColor);
  font-size: 17px;
  line-height: 30px;
  font-weight: normal;
  display: flex;
  align-items: center;
  margin-right: 15px;
  padding: 10px;
}
.TabContent h3:first-child{
  color: var(--primaryTitleColor);
  border-bottom: 2px solid rgb(249, 130, 108);
}
.TabContent h3:first-child svg{
  fill: var(--primaryTitleColor);
}
.TabContent h3 svg{
  fill: var(--primaryTextColor);
  margin-right: 10px;
}

@media screen and (max-width: 855px){
  .TabContent{
    width: 60%;
    margin-left: 25%;
  }
}

@media screen and (max-width: 770px){
  .TabContent{
    width: 90%;
    margin-left: 5%;
  }
  .user_infos{
    display: none;
  }
  .Tab__items_container h3 {
    font-size: 15px;
  }
  .Tab__items_container h3 svg {
    display: none;
  }
}

@media screen and (max-width: 1244px){
  .toggle_mode{
    display: none;
  }
}