
.Navbar{
  background-color: #24292E;
  color: white; 
  padding: 16px;
  display: flex;
  align-items: center;
  font-size: 14px;
  justify-content: space-between;
}

.Navbar__GithubIcon{
  font-size: 29px !important;
  margin-left: 10px;
}

.Navbar_items_container{
  display: flex;
  align-items: center;
}
.Navbar_icons_container{
  margin-right: 10px;
}

.header_search_input{
  background-color: inherit;
  border: 1px solid grey;
  padding: 4px;
  font-size: 14px;
  padding-left: 7px;
  margin-left: 15px;
  border-radius: 4px;
  width: 270px;
  color: grey;
}

.github_svg{
  margin-left: -25px;
}